<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># Move Your Home Folder To A Second Drive</title>
<pre>
     __ __       _______ _______ _______ ___ _______ ___     _______ _______ 
 .--|  |  |_    |   _   |   _   |       |   |   _   |   |   |   _   |   _   |
 |  _  |   _|   |.  1   |.  l   |.|   | |.  |.  1___|.  |   |.  1___|   1___|
 |_____|____|   |.  _   |.  _   `-|.  |-|.  |.  |___|.  |___|.  __)_|____   |
                |:  |   |:  |   | |:  | |:  |:  1   |:  1   |:  1   |:  1   |
                |::.|:. |::.|:. | |::.| |::.|::.. . |::.. . |::.. . |::.. . |
                `--- ---`--- ---&#39 `---&#39 `---`-------`-------`-------`-------&#39
                                                                             
</pre>
<br/>
<h1>Move Your Home Folder To A Second Drive</h1>
By Derek Taylor at February 20, 2020<br/>
<br/>
<h2>Make Reinstalling Faster By Having Home On A Second Drive</h2>
<br/>
Note: You may want to drop into tty to perform the following to avoid any weird side effects from doing this within your graphical environment. Also, for this example we will assume that your partition is sdb1 (change this to the id of your drive!). Also, have a backup handy…just in case.<br/>
<br/>
Mount the new partition to /tmp:<br/>
<blockquote>sudo mkdir /mnt/tmp</blockquote>
<blockquote>sudo mount /dev/sdb1 /mnt/tmp</blockquote>
<br/>
Copy your HOME content to the second drive:<br/>
<blockquote>sudo rsync -avx /home/ /mnt/tmp</blockquote>
<br/>
Mount our new HOME partition:<br/>
<blockquote>sudo mount /dev/sdb1 /home</blockquote>
<br/>
If all your data seems to be present on the second drive and new partition, you may delete your old /home directory. To do this, you must first unmount the new /home partition!<br/>
<blockquote>sudo umount /home #unmount the new home first!</blockquote>
<br/>
Then you may delete the original /home:<br/>
<blockquote>rm -rf /home/*</blockquote>
<br/>
Now let&#39s make your new /home permanent. Get the UUID so we can add it to your fstab:<br/>
<blockquote>sudo blkid</blockquote>
<br/>
Then edit the fstab:<br/>
<blockquote>sudo vim /etc/fstab #or nano if you prefer</blockquote>
<br/>
Add this line at the end of the fstab:<br/>
<blockquote>UUID=&ltnoted number from above&gt /home ext4 defaults 0 2</blockquote>
<br/>
Now reboot and see if it works!<br/>
<blockquote>sudo reboot</blockquote>
