<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># DistroTube Videos from 2017 (sorted in reverse order)</title>
<pre>
     __ __       _______ _______ _____ _______ 
 .--|  |  |_    |       |   _   | _   |   _   |
 |  _  |   _|   |___|   |.  |   |.|   |___|   |
 |_____|____|    /  ___/|.  |   `-|.  |  /   / 
                |:  1  \|:  1   | |:  | |   |  
                |::.. . |::.. . | |::.| |   |  
                `-------`-------&#39 `---&#39 `---&#39  
                                               
</pre>
<br/>
<h1>DistroTube Videos from 2017 (sorted in reverse order)</h1>
<br/>
TITLE: Calculate Linux 17.12 XFCE - Great Way To End 2017<br/>
<a href="https://odysee.com/@DistroTube:2/calculate-linux-17-12-xfce-great-way-to:0">https://odysee.com/@DistroTube:2/calculate-linux-17-12-xfce-great-way-to:0</a><br/>
<br/>
TITLE: Measuring Distro Popularity And Why Distrowatch&#39s Page Hit Rankings Suck.<br/>
<a href="https://odysee.com/@DistroTube:2/measuring-distro-popularity-and-why:9">https://odysee.com/@DistroTube:2/measuring-distro-popularity-and-why:9</a><br/>
<br/>
TITLE: My Manjaro KDE Journey, Day One<br/>
<a href="https://odysee.com/@DistroTube:2/my-manjaro-kde-journey-day-one:1">https://odysee.com/@DistroTube:2/my-manjaro-kde-journey-day-one:1</a><br/>
<br/>
TITLE: Made my decision. The distro I&#39m installing for 2018 is....<br/>
<a href="https://odysee.com/@DistroTube:2/made-my-decision-the-distro-i-m:8">https://odysee.com/@DistroTube:2/made-my-decision-the-distro-i-m:8</a><br/>
<br/>
TITLE: How To Install Debian Unstable<br/>
<a href="https://odysee.com/@DistroTube:2/how-to-install-debian-unstable:3">https://odysee.com/@DistroTube:2/how-to-install-debian-unstable:3</a><br/>
<br/>
TITLE: Top Five Linux Distros of 2017<br/>
<a href="https://odysee.com/@DistroTube:2/top-five-linux-distros-of-2017:7">https://odysee.com/@DistroTube:2/top-five-linux-distros-of-2017:7</a><br/>
<br/>
TITLE: Archbang (systemd) Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/archbang-systemd-install-review:5">https://odysee.com/@DistroTube:2/archbang-systemd-install-review:5</a><br/>
<br/>
TITLE: Ulauncher Fast Application Launcher<br/>
<a href="https://odysee.com/@DistroTube:2/ulauncher-fast-application-launcher:2">https://odysee.com/@DistroTube:2/ulauncher-fast-application-launcher:2</a><br/>
<br/>
TITLE: Endless OS 3.3.5 First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/endless-os-3-3-5-first-impression:e">https://odysee.com/@DistroTube:2/endless-os-3-3-5-first-impression:e</a><br/>
<br/>
TITLE: A Look at How I Setup Virtualbox For Testing Linux Distros<br/>
<a href="https://odysee.com/@DistroTube:2/a-look-at-how-i-setup-virtualbox-for:7">https://odysee.com/@DistroTube:2/a-look-at-how-i-setup-virtualbox-for:7</a><br/>
<br/>
TITLE: SalentOS Neriton First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/salentos-neriton-first-impression:3">https://odysee.com/@DistroTube:2/salentos-neriton-first-impression:3</a><br/>
<br/>
TITLE: Rofi - Application Launcher, Window Switcher and Run Command Utility<br/>
<a href="https://odysee.com/@DistroTube:2/rofi-application-launcher-window:e">https://odysee.com/@DistroTube:2/rofi-application-launcher-window:e</a><br/>
<br/>
TITLE: Puzzle Moppet - 3D Puzzle Game for Linux (and Mac and Windows)<br/>
<a href="https://odysee.com/@DistroTube:2/puzzle-moppet-3d-puzzle-game-for-linux:5">https://odysee.com/@DistroTube:2/puzzle-moppet-3d-puzzle-game-for-linux:5</a><br/>
<br/>
TITLE: A Quick Look at the Official Release of MX Linux 17<br/>
<a href="https://odysee.com/@DistroTube:2/a-quick-look-at-the-official-release-of:a">https://odysee.com/@DistroTube:2/a-quick-look-at-the-official-release-of:a</a><br/>
<br/>
TITLE: Sabayon LXQt Daily Build Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/sabayon-lxqt-daily-build-install-review:d">https://odysee.com/@DistroTube:2/sabayon-lxqt-daily-build-install-review:d</a><br/>
<br/>
TITLE: SwagArch GNU/Linux First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/swagarch-gnu-linux-first-impression:c">https://odysee.com/@DistroTube:2/swagarch-gnu-linux-first-impression:c</a><br/>
<br/>
TITLE: Revisiting Solus. Why It Isn&#39t Right For Me, Yet.<br/>
<a href="https://odysee.com/@DistroTube:2/revisiting-solus-why-it-isn-t-right-for:d">https://odysee.com/@DistroTube:2/revisiting-solus-why-it-isn-t-right-for:d</a><br/>
<br/>
TITLE: CrunchBangPlusPlus (#!++) Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/crunchbangplusplus-install-review:a">https://odysee.com/@DistroTube:2/crunchbangplusplus-install-review:a</a><br/>
<br/>
TITLE: A Little SuperTuxKart With a Bit of Talk About Linux Gaming of the Past<br/>
<a href="https://odysee.com/@DistroTube:2/a-little-supertuxkart-with-a-bit-of-talk:1">https://odysee.com/@DistroTube:2/a-little-supertuxkart-with-a-bit-of-talk:1</a><br/>
<br/>
TITLE: I Install unity7sl and Discuss the Pros of the Unity Desktop and Its Future.<br/>
<a href="https://odysee.com/@DistroTube:2/i-install-unity7sl-and-discuss-the-pros:8">https://odysee.com/@DistroTube:2/i-install-unity7sl-and-discuss-the-pros:8</a><br/>
<br/>
TITLE: Bodhi Linux 4.4.0 AppPack Release Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/bodhi-linux-4-4-0-apppack-release:2">https://odysee.com/@DistroTube:2/bodhi-linux-4-4-0-apppack-release:2</a><br/>
<br/>
TITLE: The Openbox Window Manager - Install &amp Setup<br/>
<a href="https://odysee.com/@DistroTube:2/the-openbox-window-manager-install-setup:f">https://odysee.com/@DistroTube:2/the-openbox-window-manager-install-setup:f</a><br/>
<br/>
TITLE: Peppermint OS 8 Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/peppermint-os-8-install-review:9">https://odysee.com/@DistroTube:2/peppermint-os-8-install-review:9</a><br/>
<br/>
TITLE: ArchMerge First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/archmerge-first-impression-install:1">https://odysee.com/@DistroTube:2/archmerge-first-impression-install:1</a><br/>
<br/>
TITLE: ROSA R10 Fresh KDE First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/rosa-r10-fresh-kde-first-impression:a">https://odysee.com/@DistroTube:2/rosa-r10-fresh-kde-first-impression:a</a><br/>
<br/>
TITLE: Gradio - Searching and Listening to  Internet Radio Stations<br/>
<a href="https://odysee.com/@DistroTube:2/gradio-searching-and-listening-to:9">https://odysee.com/@DistroTube:2/gradio-searching-and-listening-to:9</a><br/>
<br/>
TITLE: Distro-Hopping.  Which Distro Should I Go With?  Help Me Decide!<br/>
<a href="https://odysee.com/@DistroTube:2/distro-hopping-which-distro-should-i-go:f">https://odysee.com/@DistroTube:2/distro-hopping-which-distro-should-i-go:f</a><br/>
<br/>
TITLE: Solus First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/solus-first-impression-install-review:0">https://odysee.com/@DistroTube:2/solus-first-impression-install-review:0</a><br/>
<br/>
TITLE: Stacer - System Monitor, Optimizer and Cleaner<br/>
<a href="https://odysee.com/@DistroTube:2/stacer-system-monitor-optimizer-and:2">https://odysee.com/@DistroTube:2/stacer-system-monitor-optimizer-and:2</a><br/>
<br/>
TITLE: AntiX 17 First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/antix-17-first-impression-install-review:5">https://odysee.com/@DistroTube:2/antix-17-first-impression-install-review:5</a><br/>
<br/>
TITLE: Deepin 15.5 First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/deepin-15-5-first-impression-install:6">https://odysee.com/@DistroTube:2/deepin-15-5-first-impression-install:6</a><br/>
<br/>
TITLE: Stress Terminal UI (s-tui) - Stress-Testing System Monitor<br/>
<a href="https://odysee.com/@DistroTube:2/stress-terminal-ui-s-tui-stress-testing:c">https://odysee.com/@DistroTube:2/stress-terminal-ui-s-tui-stress-testing:c</a><br/>
<br/>
TITLE: Nmon - Terminal-Based System Performance Monitor<br/>
<a href="https://odysee.com/@DistroTube:2/nmon-terminal-based-system-performance:8">https://odysee.com/@DistroTube:2/nmon-terminal-based-system-performance:8</a><br/>
<br/>
TITLE: Xebian First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/xebian-first-impression-install-review:8">https://odysee.com/@DistroTube:2/xebian-first-impression-install-review:8</a><br/>
<br/>
TITLE: Linux Mint 18.3 Sylvia Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/linux-mint-18-3-sylvia-install-review:2">https://odysee.com/@DistroTube:2/linux-mint-18-3-sylvia-install-review:2</a><br/>
<br/>
TITLE: PCLinuxOS First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/pclinuxos-first-impression-install:d">https://odysee.com/@DistroTube:2/pclinuxos-first-impression-install:d</a><br/>
<br/>
TITLE: BunsenLabs Linux Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/bunsenlabs-linux-install-review:b">https://odysee.com/@DistroTube:2/bunsenlabs-linux-install-review:b</a><br/>
<br/>
TITLE: LXLE 16.04.3 Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/lxle-16-04-3-install-review:8">https://odysee.com/@DistroTube:2/lxle-16-04-3-install-review:8</a><br/>
<br/>
TITLE: Glances - Terminal-Based System Monitoring Tool<br/>
<a href="https://odysee.com/@DistroTube:2/glances-terminal-based-system-monitoring:3">https://odysee.com/@DistroTube:2/glances-terminal-based-system-monitoring:3</a><br/>
<br/>
TITLE: Chakra Linux First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/chakra-linux-first-impression-install:5">https://odysee.com/@DistroTube:2/chakra-linux-first-impression-install:5</a><br/>
<br/>
TITLE: Htop - Terminal-Based Interactive Process Viewing Program<br/>
<a href="https://odysee.com/@DistroTube:2/htop-terminal-based-interactive-process:f">https://odysee.com/@DistroTube:2/htop-terminal-based-interactive-process:f</a><br/>
<br/>
TITLE: Calculate Linux First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/calculate-linux-first-impression-install:9">https://odysee.com/@DistroTube:2/calculate-linux-first-impression-install:9</a><br/>
<br/>
TITLE: Korora 26 First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/korora-26-first-impression-install:1">https://odysee.com/@DistroTube:2/korora-26-first-impression-install:1</a><br/>
<br/>
TITLE: Ranger - A Minimal Terminal-Based File Manager<br/>
<a href="https://odysee.com/@DistroTube:2/ranger-a-minimal-terminal-based-file:2">https://odysee.com/@DistroTube:2/ranger-a-minimal-terminal-based-file:2</a><br/>
<br/>
TITLE: Fedora 27 Workstation Installation and Review<br/>
<a href="https://odysee.com/@DistroTube:2/fedora-27-workstation-installation-and:b">https://odysee.com/@DistroTube:2/fedora-27-workstation-installation-and:b</a><br/>
<br/>
TITLE: MX Linux 17 Beta 1 First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/mx-linux-17-beta-1-first-impression:0">https://odysee.com/@DistroTube:2/mx-linux-17-beta-1-first-impression:0</a><br/>
<br/>
TITLE: Redcore Linux First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/redcore-linux-first-impression-install:0">https://odysee.com/@DistroTube:2/redcore-linux-first-impression-install:0</a><br/>
<br/>
TITLE: Canto - Terminal-Based RSS Feed Reader<br/>
<a href="https://odysee.com/@DistroTube:2/canto-terminal-based-rss-feed-reader:4">https://odysee.com/@DistroTube:2/canto-terminal-based-rss-feed-reader:4</a><br/>
<br/>
TITLE: TruesOS (formerly PC-BSD) First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/truesos-formerly-pc-bsd-first-impression:3">https://odysee.com/@DistroTube:2/truesos-formerly-pc-bsd-first-impression:3</a><br/>
<br/>
TITLE: KaOS First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/kaos-first-impression-install-review:9">https://odysee.com/@DistroTube:2/kaos-first-impression-install-review:9</a><br/>
<br/>
TITLE: Cmus - Terminal-Based Music Player - Lightweight and Super-Fast<br/>
<a href="https://odysee.com/@DistroTube:2/cmus-terminal-based-music-player:8">https://odysee.com/@DistroTube:2/cmus-terminal-based-music-player:8</a><br/>
<br/>
TITLE: Terminal Commands Lesson 04 - Editing Text Files - echo, cat, nano, vi<br/>
<a href="https://odysee.com/@DistroTube:2/terminal-commands-lesson-04-editing-text:c">https://odysee.com/@DistroTube:2/terminal-commands-lesson-04-editing-text:c</a><br/>
<br/>
TITLE: Terminal Commands Lesson 03 - which, whereis, locate, find<br/>
<a href="https://odysee.com/@DistroTube:2/terminal-commands-lesson-03-which:2">https://odysee.com/@DistroTube:2/terminal-commands-lesson-03-which:2</a><br/>
<br/>
TITLE: Lynx - Text-based Web Browser - Surf the Web From a Terminal<br/>
<a href="https://odysee.com/@DistroTube:2/lynx-text-based-web-browser-surf-the-web:3">https://odysee.com/@DistroTube:2/lynx-text-based-web-browser-surf-the-web:3</a><br/>
<br/>
TITLE: Tails Live Operating System - Privacy For Anyone Anywhere<br/>
<a href="https://odysee.com/@DistroTube:2/tails-live-operating-system-privacy-for:5">https://odysee.com/@DistroTube:2/tails-live-operating-system-privacy-for:5</a><br/>
<br/>
TITLE: Irssi - Terminal IRC Client - Who Needs a GUI to Chat!<br/>
<a href="https://odysee.com/@DistroTube:2/irssi-terminal-irc-client-who-needs-a:d">https://odysee.com/@DistroTube:2/irssi-terminal-irc-client-who-needs-a:d</a><br/>
<br/>
TITLE: ClamAV - Anti-Virus for Linux - Is It Necessary?<br/>
<a href="https://odysee.com/@DistroTube:2/clamav-anti-virus-for-linux-is-it:2">https://odysee.com/@DistroTube:2/clamav-anti-virus-for-linux-is-it:2</a><br/>
<br/>
TITLE: Calcurse - Organizer and Scheduling App<br/>
<a href="https://odysee.com/@DistroTube:2/calcurse-organizer-and-scheduling-app:9">https://odysee.com/@DistroTube:2/calcurse-organizer-and-scheduling-app:9</a><br/>
<br/>
TITLE: Ubuntu Studio 17.10 Artful Aardvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/ubuntu-studio-17-10-artful-aardvark:e">https://odysee.com/@DistroTube:2/ubuntu-studio-17-10-artful-aardvark:e</a><br/>
<br/>
TITLE: Ubuntu Budgie 17.10 Artful Aarvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/ubuntu-budgie-17-10-artful-aarvark:f">https://odysee.com/@DistroTube:2/ubuntu-budgie-17-10-artful-aarvark:f</a><br/>
<br/>
TITLE: Ubuntu MATE 17.10 Artful Aarvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/ubuntu-mate-17-10-artful-aarvark-install:a">https://odysee.com/@DistroTube:2/ubuntu-mate-17-10-artful-aarvark-install:a</a><br/>
<br/>
TITLE: Lubuntu 17.10 Artful Aarvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/lubuntu-17-10-artful-aarvark-install-and:5">https://odysee.com/@DistroTube:2/lubuntu-17-10-artful-aarvark-install-and:5</a><br/>
<br/>
TITLE: Xubuntu 17.10 Artful Aarvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/xubuntu-17-10-artful-aarvark-install-and:4">https://odysee.com/@DistroTube:2/xubuntu-17-10-artful-aarvark-install-and:4</a><br/>
<br/>
TITLE: Kubuntu 17.10 Artful Aarvark - Install and Review<br/>
<a href="https://odysee.com/@DistroTube:2/kubuntu-17-10-artful-aarvark-install-and:4">https://odysee.com/@DistroTube:2/kubuntu-17-10-artful-aarvark-install-and:4</a><br/>
<br/>
TITLE: Feren OS First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/feren-os-first-impression-install-review:a">https://odysee.com/@DistroTube:2/feren-os-first-impression-install-review:a</a><br/>
<br/>
TITLE: OpenSUSE Tumbleweed Install and Review KDE edition<br/>
<a href="https://odysee.com/@DistroTube:2/opensuse-tumbleweed-install-and-review:2">https://odysee.com/@DistroTube:2/opensuse-tumbleweed-install-and-review:2</a><br/>
<br/>
TITLE: Qtile - Tiling Window Manager Written in Python<br/>
<a href="https://odysee.com/@DistroTube:2/qtile-tiling-window-manager-written-in:c">https://odysee.com/@DistroTube:2/qtile-tiling-window-manager-written-in:c</a><br/>
<br/>
TITLE: ArchLabs Minimo First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/archlabs-minimo-first-impression-install:a">https://odysee.com/@DistroTube:2/archlabs-minimo-first-impression-install:a</a><br/>
<br/>
TITLE: Sabayon Minimal Edition - Most Painful Linux Install Ever?<br/>
<a href="https://odysee.com/@DistroTube:2/sabayon-minimal-edition-most-painful:5">https://odysee.com/@DistroTube:2/sabayon-minimal-edition-most-painful:5</a><br/>
<br/>
TITLE: Siduction LXQt First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/siduction-lxqt-first-impression-install:8">https://odysee.com/@DistroTube:2/siduction-lxqt-first-impression-install:8</a><br/>
<br/>
TITLE: Categorizing Linux Distros - Which One Is Best For Beginners?<br/>
<a href="https://odysee.com/@DistroTube:2/categorizing-linux-distros-which-one-is:0">https://odysee.com/@DistroTube:2/categorizing-linux-distros-which-one-is:0</a><br/>
<br/>
TITLE: Antergos Cinnamon First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/antergos-cinnamon-first-impression:6">https://odysee.com/@DistroTube:2/antergos-cinnamon-first-impression:6</a><br/>
<br/>
TITLE: Welcome to DistroTube<br/>
<a href="https://odysee.com/@DistroTube:2/welcome-to-distrotube:0">https://odysee.com/@DistroTube:2/welcome-to-distrotube:0</a><br/>
<br/>
TITLE: Terminal Commands Lesson 02 - touch, mkdir, mv, cp, rm, rmdir<br/>
<a href="https://odysee.com/@DistroTube:2/terminal-commands-lesson-02-touch-mkdir:7">https://odysee.com/@DistroTube:2/terminal-commands-lesson-02-touch-mkdir:7</a><br/>
<br/>
TITLE: Terminal Commands Lesson 01 - pwd, cd, ls, man, --help<br/>
<a href="https://odysee.com/@DistroTube:2/terminal-commands-lesson-01-pwd-cd-ls:7">https://odysee.com/@DistroTube:2/terminal-commands-lesson-01-pwd-cd-ls:7</a><br/>
<br/>
TITLE: Manjaro Linux KDE First Impression Install &amp Review<br/>
<a href="https://odysee.com/@DistroTube:2/manjaro-linux-kde-first-impression:2">https://odysee.com/@DistroTube:2/manjaro-linux-kde-first-impression:2</a><br/>
<br/>
<h2>Video Categories</h2>
<br/>
<a href="../videos/2017-videos.html">Videos from 2017</a><br/>
<a href="../videos/2018-videos.html">Videos from 2018</a><br/>
<a href="../videos/2019-videos.html">Videos from 2019</a><br/>
<a href="../videos/2020-videos.html">Videos from 2020</a><br/>
<a href="../videos/2021-videos.html">Videos from 2021</a><br/>
